html {
	box-sizing: border-box;
    font-size: 62.5%;  /*1 REM igual a 10px */
}
*, *:before, *:after {
	box-sizing: inherit;
}
body{
    font-size: 1.6rem;
    line-height: 2;
    background: black;
}